h1 {
  margin-top: 120px;
  font-size: 28px;
  text-align: center;
  font-family: 'Courier New';
}

a, #comingSoon {
  color: black;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  font-family: 'Courier New';
}

div {
  margin-top: -10px;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width:40%;
  max-height:40%;
}

#comingSoon {
  margin-top: 40px;
  padding-left: 28%;
  padding-right: 28%;
}

.sidenav {
  /* height: 100%; Full-height: remove this if you want "auto" height */
  /* width: 160px; Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  /* z-index: 1; Stay on top */
  /* top: 0; Stay at the top */
  /* left: 0; */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 180px;
  padding-left: 12%;
}

/* The navigation menu links */
.sidenav a {
  /* padding: 0px 0px 0px 0px; */
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

.sidenav a:focus span {
  color: white;
  background-color: black;
  box-decoration-break: clone;
}

.sidenav a:hover span {
  color: white;
  background-color: black;
  box-decoration-break: clone;
}